agent_*.md

*cache*

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-cache
package-lock.json
package.json

# Byte-code files
*.pyc
__pycache__

# Virtual environment
.venv
venv
env

# Distribution and packaging
*.egg
*.egg-info
dist
build

# Editor/OS specific
.DS_Store
.vscode
.idea
